html {
	font-size: 64px;
}

* {
	margin: 0;
	padding: 0;;
}

body {
	font-family: monospace;
	color: #FFF;;
}

main {
	display: block;
	width: 13rem;
	min-width: 13rem;
}

.frame-1 {
  position: relative;
	display: flex;
	margin: auto;
  top: 1rem;
	width: 8rem;
	height: 6.5rem;
  background: linear-gradient(to right, rgb(65,55,50), rgb(105,95,90), rgb(130, 120, 110) 20%, rgb(205,205,200), rgb(130,120,110) 80%, rgb(105,95,90), rgb(65,55,50));
	box-shadow: inset 2px 2px 5px rgb(40,30,25), inset -2px -2px 5px rgb(40,30,25);
	border-radius: 0.5rem;
}

.frame-2 {
	display: flex;
	position: relative;
	bottom: 0.25rem;
	margin: auto;
	width: 85%;
	height: 75%;
	background: linear-gradient(to bottom, rgb(35,30,30) 65%, rgb(165,165,160) 75%, rgb(35,30,30) 85%);
	border-radius: 0.25rem;
}

.frame-2::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: linear-gradient(to right, rgba(35,30,30,0.0) 40%, rgba(165,165,160, 1.0) 50%, rgba(35,30,30, 0.0) 60%);
	box-shadow: 1px 1px 2px rgb(205,210,190), -1px -1px 2px rgb(205,210,190), inset 2px 2px 5px rgb(35,30,30), inset -2px -2px 5px rgb(35,30,30);
	border-radius: 0.25rem;
}

.screen {
	margin: auto;
	z-index: 2;
	height: 92%;
	width: 95%;
	background: radial-gradient(rgb(150,175,175), rgb(110,125,120));
	border: solid 1px rgb(35,30,30);
	border-radius: 0.25rem;
	box-shadow: inset 2px 2px 5px rgb(70,80,140), inset -2px -2px 5px rgb(70,80,140);
}

.box-1 {
	display: flex;
	position: relative;
	top: 1rem;
	margin: 0.25rem auto;
	width: 13rem;
	height: 4.5rem;
	min-width: 13rem;
	min-height: 4.5rem;
	background: linear-gradient(to bottom, rgb(30,30,30), rgb(60,60,60), rgb(90,100,100) 40%, rgb(60,60,60), rgb(30,30,30));
	box-shadow: inset 2px 2px 2px rgb(10,10,10), inset -2px -2px 2px rgb(10,10,10);
	border-radius: 0.25rem;
}

.box-1::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	width: 13rem;
	height: 4.5rem;
	min-width: 13rem;
	min-height: 4.5rem;
	background: linear-gradient(to right, rgba(30,30,30,0.0), rgba(60,60,60,1.0), rgba(90,100,100,1.0) 70%, rgba(60,60,60,1.0), rgba(30,30,30, 0.0));
	box-shadow: inset 2px 2px 2px rgb(10,10,10), inset -2px -2px 2px rgb(10,10,10);
	border-radius: 0.25rem;
}

.box-2 {
	display: flex;
	position: relative;
	z-index: 2;
	margin: auto;
	width: 95%;
	height: 92%;;
	background: rgb(10,10,10);
	border-radius: 0.25rem;
}

.box-3 {
	display: flex;
	position: relative;
	margin: auto;
	width: 95%;
	height: 98%;
	background: linear-gradient(to left, rgb(30, 30, 30), rgb(55,55,60), rgb(95,95,95) 33%, rgb(55,55,60) 90%, rgb(30,30,30));
	border-radius: 0.25rem;
	box-shadow: inset 2px 2px 2px rgb(10,10,10), inset -2px -2px 2px rgb(10,10,10);
	}

section {
	display: flex;
}

section div {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	margin: 0  auto;
}

.box-left div div {
	width: 1.5%;
	background: rgb(40,40,40);
	box-shadow: inset -1px 1px 1px rgb(20,20,20), inset 0 -2px 2px rgb(100,105,95);
	/* border: solid 1px rgb(10,10,10) */
}

.box-left {
	width: 66%;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
}

.box-right {
	position: relative;
	flex-direction: column;
	width: 30%;
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
	margin-right: 0.1rem;
	border-top: solid 8px rgb(40,30,30);
	border-right: solid 9px rgb(20,20,20);
	border-left: solid 9px rgb(20,20,20);
	border-bottom: solid 10px rgb(40,30,30);
}

.grid-1 {
	width: 95%;
	margin-top: 0.25rem;
}

.grid-2 {
	width: 95%;
	margin-bottom: 0.5rem;
}

.grid-1 > div {
	height: 0.5rem;
}

.grid-2 > div {
	height: 1rem;
}

.disk-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 45%;;
	background: rgb(55,55,55);
}

.disk-1 div:nth-child(1) {
	width: 30%;
	height: 25%;
	margin-top: 2%;
	background: linear-gradient(to right, rgb(60,60,60), rgb(50,50,50), rgb(60,60,60));
	box-shadow: inset -1px 1px 1px rgb(30,30,30), inset 1px 0 1px rgb(30,30,30);

}

.disk-1 div:nth-child(2) {
	position: relative;
	display: flex;
	width: 98%;
	height: 0.25rem;;
	background: rgb(45,45,45);
	box-shadow: inset 0 2px 1px rgb(25,20,20);
}

.disk-1 div:nth-child(3) {
	width: 30%;
	height: 25%;
	background: linear-gradient(to right, rgb(60,60,60), rgb(50,50,50), rgb(60,60,60));
	box-shadow: inset -1px -1px 1px rgb(30,30,30), inset 1px 0px 1px rgb(30,30,30)
}

.disk-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 55%;
	background: linear-gradient(315deg, rgb(15,15,15), rgb(40,40,40));
}

.disk-2 > div:nth-child(1) {
	width: 30%;
	height: 30%;
	background: linear-gradient(315deg, rgb(40,30,40), rgb(35,35,35));
	box-shadow: inset 1px 1px 1px rgb(20,20,20), inset -1px -1px 1px rgb(20,20,20);
	border: solid 1px rgb(2à,20,20);
}

.disk-2 > div:nth-child(2) {
	display: flex;
	align-items: center;
	width: 100%;
	height: 0.5rem;;
	background: rgb(55,50,50);
	box-shadow: inset 0 2px 1px rgb(25,20,20);
}

.disk-2 > div:nth-child(3) {
	width: 30%;
	height: 30%;
	background: linear-gradient(to bottom, rgb(40,40,40), rgb(60,60,60));
	box-shadow: inset -1px -1px 1px rgb(30,30,30), inset 1px 0 1px rgb(30,30,30);
}

.disk-2 > div:nth-child(2) > div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	width: 98%;
	height: 0.25rem;;
	background: rgb(45,45,45);
	box-shadow: inset 0 2px 1px rgb(25,20,20);

}

.disk-2 > div:nth-child(2) > div > div, .disk-1 > div:nth-child(2) >div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 95%;
	height: 0.0625rem;
	background: rgb(20,20,20);
	border-top: solid 2px rgb(45, 45, 45);
	border-bottom: solid 2px rgb(45, 45, 45);
	border-left: solid 2px rgb(25, 25, 25);
	border-right: solid 2px rgb(25, 25, 25);
}

.disk-2 > div:nth-child(2) > div::after {
	content: "";
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	width: 30%;
	height: 0.5rem;;
	background: linear-gradient(315deg, rgb(40,30,40), rgb(35,35,35));
	box-shadow: inset 1px 1px 1px rgb(60,55,50), inset -1px -1px 1px rgb(20,20,20);
}

.lamp {
	position: relative;
	right: 110%;
	top: 50%;
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 50%;
	background: rgb(15,15,15);
	box-shadow: inset 0 -2px 1px rgb(40,40,40);
}

.lamp::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 0.125rem;
	height: 0.125rem;
	border-radius: inherit;
	background: rgb(115,10,15);
	box-shadow: inset 0 2px 1px rgb(70,0,15);
}

.lamp::before {
	content: "";
	position: absolute;
	top: 10%;
	left: 5%;
	bottom: 0;
	right: 0;
	z-index: 2;
	margin: auto;
	width: 0.03125rem;
	height: 0.03125rem;
	border-radius: inherit;
	background: rgb(160,90,100);
}
